/* Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    min-height: 100vh;
}

.carousel-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    height: 650px;
    overflow: hidden;

}

.bg-gredient {
    position: absolute;
    top: 300px;
    width: 100%;
    max-width: 800px;
    height: 650px;
    overflow: hidden;
    /* Apply gradient at the bottom */
    background-image: radial-gradient(circle closest-side, rgba(17, 51, 82, 1) 5%, transparent 100%);
    background-position: center bottom; /* Position the gradient at the center bottom */
    background-repeat: no-repeat;
}


.carousel-title {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    text-align: center;
    color: #ff6b00;
    font-size: 24px;
    font-weight: bold;
    z-index: 10;
}

.carousel-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.carousel-slide.active {
    opacity: 1;
}

.carousel-content {
    text-align: center;
    max-width: 500px;
    z-index: 5;
    padding: 20px;
    margin-top: 140px;

}

.carousel-content h2 {
    margin-bottom: 15px;
    font-size: 22px;
}

.carousel-content p {
    font-size: 14px;
    line-height: 1.5;
    color: #ddd;
}



.carousel-image {
    position: relative;
}

.carousel-image img {
    position: absolute;
    transition: none;  
}



.carousel-background {
    position: absolute;
    top: 180px;
    left: 0;
    width: 800px;
    opacity: 0.7;
    z-index: 1;
}

.carousel-nav {
    position: absolute;
    top: 180px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    z-index: 10;
}

.carousel-button {
    background: none;
    border: none;
    color: #ff6b00;
    font-size: 30px;
    cursor: pointer;
    outline: none;
    transition: transform 0.3s;
}

.carousel-button:hover {
    transform: scale(1.2);
}



/* Add responsive behavior */
@media screen and (max-width: 768px) {

    .carousel-title {
        font-size: 20px;
        /* Smaller title font */
    }

    .carousel-content h2 {
        font-size: 18px;
        /* Adjust header size */
    }

    .carousel-content p {
        font-size: 12px;
        /* Adjust paragraph font size */
    }

    .carousel-content {
        max-width: 480px;
    }

}


/* Further adjust for very small screens (e.g., mobile) */
@media screen and (max-width: 480px) {
    .carousel-content {
        max-width: 350px;
    }


  

}